@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    border-radius: 20px;
    background-color : #20bf55;
    background-image : linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    align-items: center;
    width: 414px;
    height: 736px;
}

.hot{
    background-color: #eaf818 !important; 
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%) !important;
}

.top{
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.images{
    right:20px;
    width: 60%;
    height: 60%
}

.header{
    background-color: #424242;
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.button{
    width: 35px;
    height: 35px;
}
.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.description{
    padding: 9px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

img{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: -9%
}